<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | AuthorPostApp</title>
  </head>
  <body>
    <h1>AuthorPostApp</h1>
    <p>
      This is the home page.
    </p>
  </body>
</html>
